body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    width: 100%;
    height: 6rem;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right {
    width: 25rem;
    height: auto;
    display: flex;
    list-style: none;
}

main {
    margin-top: 15rem;
    text-align: center;
}

main #main-logo {
    width: 530px;
    margin: 0 auto 35px;
}

main #main-logo img {
    width: 272px;
}

main #main-input {
    width: 530px;
    margin: 0 auto 35px;
}

main #main-input-container {
    width: 525px;
    margin: 0 auto;
    border-radius: 100px;
    border: solid 1px #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main #main-input-container #search-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

main #main-input-container input {
    width: 450px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    outline: none
}

main #main-input-container #micro-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

main #main-input-container:hover {
    box-shadow: 0 1px 6px #20212447;
    border-color: #dfe1e500;
}

main #main-buttons {
    width: 530px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

main #main-buttons button {
    box-sizing: border-box;
    height: 36px;
    background-color: #f2f2f2;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0 10px;
    border: solid 1px #ffffff;
    font-size: 14px;
    color: #5f6368;
    border-radius: 5px;
}

main #main-buttons button:hover {
    border: solid 1px #c6c6c6;
    box-shadow: #5f6368;
    color: #222;
}

nav .nav-right a {
    margin-right: 10px;
    color: black;
}

nav .nav-right a:hover {
    text-decoration: underline;
}

nav .nav-right #menu-icon {
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

nav .nav-right img {
    border-radius: 50%;
    margin-left: 10px;
}

footer {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-around;
}

footer li {
    display: inline-block;
}

footer a {
    text-decoration: none;
}

